@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
/**
-------------------------
Color Definitions
-------------------------
**/

$danger: #DA1E28;
$success: #24A148;
$warning: #FDD13A;

$primary-dark: #0F1D2B;
$primary-light: #f1f2f3;
$white: #FFFFFF;
$primary-grey: #6c757d;
$grey: #e7e8e9;

$blue: #1B4965;
$blue--light: #DDF9FF;
$blue--dark: #153C54;

/**
------------------
Text Definitions
------------------
**/


$font--items: 15px;
$font--items2: 20px;
$font--items3: 13px;
$font--primary-title: 40px;
$font--secondary-title: 25px;

$font--family: "Montserrat";

$weight--small: 400;
$weight--medium: 500;
$weight--bold: 700;
$weight--black: 900; 