@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

/**
-------------------------
Color Definitions
-------------------------
**/

$danger: #DA1E28;
$success: #24A148;
$warning: #FDD13A;

$primary-dark: #0F1D2B;
$primary-light: #E2EAF0;
$white: #FFFFFF;

$blue: #2D4297;
$blue--light: #DDF9FF;
$blue--dark: #1d2b64;

/**
------------------
Text Definitions
------------------
**/

$font--items: 15px;
$font--primary-title: 40px;
$font--secondary-title: 25px;

$weight--small: 400;
$weight--medium: 600;
$weight--bold: 800;