@import "../../assets/scss/variaveis.scss";


#listar-agendamentos {
    .container {
        .title {
            justify-content: left;
            align-items: center;
            display: flex;
            font-size: 35px;
            font-weight: 800;
            font-family: $font--family, sans-serif;
            color: $blue--dark;
        }

        .btn {
            font-size: $font--items;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
            font-family: $font--family, sans-serif;
            font-weight: $weight--small;
        }

        .btn-criar {
            background-color: $blue;
            color: $white;
            border: 1px solid $blue;
            border-radius: 10px;
            transition: .4s;

            &:hover {
                background-color: $blue--dark;
            }

            .MuiSvgIcon-root {
                color: $white;
            }
        }

        .btn-action:hover {
            background-color: #e7e8e9;
        }

        .table {
            .infos-titles {
                background-color: $blue;
                width: 100%;

                .text {
                    color: $white;
                    font-size: $font--items3;
                    font-family: $font--family, sans-serif;
                    font-weight: $weight--medium;
                }

                th {
                    border: none;
                }
            }

            .infos-body {
                .text {
                    font-family: $font--family, sans-serif;
                    font-weight: $weight--small;
                    font-size: $font--items;
                    text-transform: uppercase;
                    width: 300px;
                    padding-top: 20px;
                }
            }
        }
    }

    .pagination .page-item .page-link {
        color: $blue;
        border: 1px solid $blue;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font--items;
        font-family: $font--family;
        font-weight: $weight--medium;

        &:hover {
            background-color: $blue;
            transition: .4s;
            color: $white;
        }
    }

    @media (max-width: 992px) {
        .title {
            font-size: 24px;
        }
    }
}