@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
@import '../../assets/scss/variaveis.scss';

.rbc-calendar{
    .rbx-toolbar{
        
        .rbc-btn-group{

        }

        .rbc-toolbar-label{
            color: $primary-dark;
            font-size: $font--items;
            font-family: $font--family, sans-serif;
        }
    }
} 