@import '../../assets/scss/variaveis.scss';

#sidebarMenu.sidebar{
    background-color: $blue;
    .nav{
        .nav-item{
            color: $primary-light;
            font-size: $font--items3;
            font-weight: $weight--small;
            font-family: "Montserrat";
        }
        .MuiSvgIcon-root{
            color: $primary-light;
        }
        .nav-link{
            display: flex;
            align-items: center;
            font-size: $font--items3;
            font-family: $font--family, sans-serif;
            color: $primary-light;
            font-weight: $weight--medium;
        }
        .nav-link.active{
                color: $blue;
                background-color: $primary-light;
                font-weight: $weight--bold;
                margin-left: 10px;
                margin-right: 10px;
                border: 1px solid $primary-light;
                border-radius: 5px;

                .MuiSvgIcon-root{
                    color: $blue;
                    }
            }
        .nav-link:hover{
            font-weight: $weight--bold;
        }
    }
}
 