@import '../../assets/scss/variaveis.scss';

#sidebarMenu.sidebar{
    .nav{
        .nav-item{
            color: $blue;
            font-size: $font--items3;
            font-weight: $weight--small;
            font-family: "Montserrat";
        }
        .MuiSvgIcon-root{
            color: $blue;
        }
        .nav-link{
            display: flex;
            align-items: center;
            font-size: $font--items3;
            font-family: $font--family, sans-serif;
            color: $primary-dark;
        }
        .nav-link.active{
                color: $white;
                background-color: $blue;
                font-weight: $weight--medium;
                margin-left: 10px;
                margin-right: 10px;
                border: 1px solid $blue;
                border-radius: 5px;
                .MuiSvgIcon-root{
                    color: $white;
                    }
            }
    }
}
