@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
/**
-------------------------
Color Definitions
-------------------------
**/
/**
------------------
Text Definitions
------------------
**/
.dashboard .title {
  font-size: 40px;
  font-weight: 800;
  font-family: "Montserrat";
  color: #0F1D2B; }

