@import "../../assets/scss/variaveis.scss";

.dashboard{
    .title{
        font-size: $font--primary-title;
        font-weight: $weight--bold;
        font-family: "Montserrat";
        color: $primary-dark;
    }
}

