@import "../../assets/scss/variaveis.scss";


.navbar-brand {
    background-color: $blue;
}

.logo {
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navbar {
    position: sticky;
    top: 0;
    background: $white;

    .search {
        display: inline-flex;
        margin-right: auto;
        border: 1px solid $blue;
        border-radius: 20px;
        justify-content: space-between;
        align-items: center;
        width: 35%;

        .form-search {
            font-family: "Montserrat";
            font-size: $font--items;
            margin-left: 13px;
        }

        .button-procurar {
            color: $white;
            font-size: $font--items;
            font-weight: $weight--small;
            width: 50px;
            height: 40px;
            padding-top: 5px;
            padding-left: 10px;
            font-family: "Montserrat";
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 1px solid transparent;
            border-radius: 0px 20px 20px 0px;
            background-color: transparent;

            &:hover {
                transition: .4s;
                background-color: $blue;
                border: 1px solid $blue;
            }
        }

        .searchIcon {
            color: $blue;

            &:hover {
                color: $white;
            }

        }
    }
}

#notifications-popup {
    padding-top: 20px;
    .text-item{
        font-size: 20px;
        font-family: $font--family, sans-serif;
        font-weight: $weight--bold;
        color: $primary-dark;
        margin-left: 15px;
    }
    .MuiPaper-elevation {
        border-radius: 10px;
        background-color: $white;
        margin-top: 35px;
        border: 1px solid rgb(224, 227, 231);
    }

    .MuiList-root {
        overflow: auto;
        padding: 10px 0px;
        list-style: none;
        position: relative;
        margin: 0px;
        padding-top: 35px;
        width: 400px;
        height: 330px;
    }

    .MuiListItem-root {
        display: inline-block;
    }

    .MuiListItemText-root{
        margin-top: 15px;
    }
    .text-title{
        font-family: $font--family, sans-serif;
        color: $primary-dark;
        font-weight: $weight--small;
    }
    .text{
        font-family: $font--family, sans-serif;
    }

    .MuiListItemButton-root {
        font-family: $font--family, sans-serif;
        font-size: 15px;
        font-weight: $weight--medium;
        &:hover {
            background-color: transparent;
        }
    }

    .btn-group {
        margin-bottom: 10px;
        .btn-go {
            background-color: $blue;
            color: $white;
            border: 1px solid $blue;
            border-radius: 10px;
            transition: .4s;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            &:hover {
                text-decoration: none;
                background-color: $blue--dark;
                transition: .4s;
            }
        }
    }

}

.navbar-item {
    display: block;

    .css-zylse7-MuiButtonBase-root-MuiIconButton-root {
        width: 5px;
        height: 5px;
        padding: 0px;
        margin: 28px;

        &:hover {
            background-color: transparent;
            border-radius: transparent;
        }
    }
}

.navbar-item.name-func {
    color: $blue;
    font-size: $font--items;
    font-family: "Montserrat";
    font-weight: $weight--small;
    text-decoration: none;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transition: .3s;
        color: #22316f;
        text-decoration: underline;
    }
}

.BaseBadge-root {
    color: $blue;
    margin: 3px;
}

.MuiSvgIcon-root {
    color: $blue;
    margin: 5px;
}

.MuiButtonBase-root {
    .BaseBadge-badge {
        background-color: $danger;
        font-family: "Montserrat";
        font-weight: 200;
    }
}

@media (max-width: 900px) {
    .logo {
        width: 45%;
    }

    .navbar {
        .form-search {
            width: 100%;
            margin: 12px;
            border: 1px solid $blue;
            border-radius: 20px;
        }
    }
}