@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
/**
-------------------------
Color Definitions
-------------------------
**/
/**
------------------
Text Definitions
------------------
**/
.navbar-brand {
  background-color: #2D4297;
}

.logo {
  width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #FFFFFF;
}

.navbar .search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: auto;
  border: 1px solid #2D4297;
  border-radius: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
}

.navbar .search .form-search {
  font-family: "Montserrat";
  font-size: 15px;
  margin-left: 13px;
}

.navbar .search .button-procurar {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  width: 50px;
  height: 40px;
  padding-top: 5px;
  padding-left: 10px;
  font-family: "Montserrat";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 0px 20px 20px 0px;
  background-color: transparent;
}

.navbar .search .button-procurar:hover {
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #2D4297;
  border: 1px solid #2D4297;
}

.navbar .search .searchIcon {
  color: #2D4297;
}

.navbar .search .searchIcon:hover {
  color: #FFFFFF;
}

#notifications-popup {
  padding-top: 20px;
}

#notifications-popup .text-item {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #0F1D2B;
  margin-left: 15px;
}

#notifications-popup .MuiPaper-elevation {
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-top: 35px;
  border: 1px solid #e0e3e7;
}

#notifications-popup .MuiList-root {
  overflow: auto;
  padding: 10px 0px;
  list-style: none;
  position: relative;
  margin: 0px;
  padding-top: 35px;
  width: 400px;
  height: 330px;
}

#notifications-popup .MuiListItem-root {
  display: inline-block;
}

#notifications-popup .MuiListItemText-root {
  margin-top: 15px;
}

#notifications-popup .text-title {
  font-family: "Montserrat", sans-serif;
  color: #0F1D2B;
  font-weight: 400;
}

#notifications-popup .text {
  font-family: "Montserrat", sans-serif;
}

#notifications-popup .MuiListItemButton-root {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

#notifications-popup .MuiListItemButton-root:hover {
  background-color: transparent;
}

#notifications-popup .btn-group {
  margin-bottom: 10px;
}

#notifications-popup .btn-group .btn-go {
  background-color: #2D4297;
  color: #FFFFFF;
  border: 1px solid #2D4297;
  border-radius: 10px;
  -webkit-transition: .4s;
  transition: .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#notifications-popup .btn-group .btn-go:hover {
  text-decoration: none;
  background-color: #1d2b64;
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar-item {
  display: block;
}

.navbar-item .css-zylse7-MuiButtonBase-root-MuiIconButton-root {
  width: 5px;
  height: 5px;
  padding: 0px;
  margin: 28px;
}

.navbar-item .css-zylse7-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: transparent;
  border-radius: transparent;
}

.navbar-item.name-func {
  color: #2D4297;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-item.name-func:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #22316f;
  text-decoration: underline;
}

.BaseBadge-root {
  color: #2D4297;
  margin: 3px;
}

.MuiSvgIcon-root {
  color: #2D4297;
  margin: 5px;
}

.MuiButtonBase-root .BaseBadge-badge {
  background-color: #DA1E28;
  font-family: "Montserrat";
  font-weight: 200;
}

@media (max-width: 900px) {
  .logo {
    width: 45%;
  }
  .navbar .form-search {
    width: 100%;
    margin: 12px;
    border: 1px solid #2D4297;
    border-radius: 20px;
  }
}
/*# sourceMappingURL=nav.css.map */