@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
@import '../../assets/scss/variaveis.scss';


.form-editar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

    .register-form {
        .title {
            justify-content: left;
            align-items: center;
            display: flex;
            font-size: 35px;
            font-weight: 800;
            font-family: $font--family, sans-serif;
            color: $blue--dark;
        }

        .subtitle {
            font-size: $font--items2;
            font-weight: 600;
            font-family: $font--family, sans-serif;
            color: $primary-dark;
            margin: 20px;
        }

        .forms-input {
            display: grid;
            margin: 20px;

            .labels {
                font-size: 13px;
                font-weight: 400;
                font-family: "Montserrat", sans-serif;
                color: #0F1D2B;
                text-transform: uppercase;
                margin-top: .5rem;
            }
        }

        .form-field {
            margin: 10px 0 10px 0;
            padding: 15px;
            font-size: $font--items3;
            border: 2px solid $grey;
            border-radius: 10px;
            font-family: $font--family, sans-serif;
            font-weight: 400;
            background-color: transparent;
        }

        input,
        textarea {
            background: #f2f2f2;
            border-radius: 15px;

            &:focus {
                outline: 0;
                border: 2px solid $blue;
            }
        }

        .button-submit {
            background-color: #FFFFFF;
            border: 2px solid #2D4297;
            color: #2D4297;
            cursor: pointer;
            transition: 0.4s;
            font-weight: 700;
            margin-top: 30px;
            transition: 0.4s;
            width: 40%;

            &:hover {
                background-color: #2D4297;
                color: #FFFFFF;
                transition: 0.4s;
            }

            &:disabled {
                cursor: default;
            }
        }
        .success-message {
            font-family: 'Montserrat', sans-serif;
            background-color: #3f89f8;
            padding: 15px;
            color: white;
        }

        .error {
            border-style: solid;
            border: 2px solid #ffa4a4;
        }
    }
    .pagination{
        .page-item{
            .page-link:hover {
                background-color: #2D4297;
                transition: .4s;
                color: #FFFFFF; }
        }
    }
    .placa_carreta_none{
        display: none;
      }

}
 