@import "../../assets/scss/variaveis.scss";


.container{
    .subtitle{
        font-size: $font--primary-title;
        font-weight: $weight--medium;
        color: $primary-dark;
        font-family: $font--family, sans-serif;
    }
    .btn{
        font-size: $font--items;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        font-family: $font--family, sans-serif;
        font-weight: $weight--small;
    }
    .btn-inadimplente{
        background-color: $white;
        color: $primary-dark;
        border: 1px solid $primary-dark;
        border-radius: 10px;
        &:hover{
            background-color: $primary-light;
        }
        .MuiSvgIcon-root{
            color: $blue;
        }
    }
    .btn-criar{
        background-color: $blue;
        color: $white;
        border: 1px solid $blue;
        border-radius: 10px;
        transition: .4s;

        &:hover{
            background-color: $blue--dark;
        }
        .MuiSvgIcon-root{
            color: $white;
        }
    }
    .btn-action:hover{
        background-color: #e7e8e9;
    }
    .table{
        thead th{
            border: none;
        }
        .text{
            font-family: $font--family, sans-serif;
            font-weight: $weight--small;
            font-size: $font--items;
            text-transform: uppercase;
        }
    }
}