/**
-------------------------
Color Definitions
-------------------------
**/

$danger: #DA1E28;
$success: #24A148;
$warning: #FDD13A;

$primary-dark: #0F1D2B;
$primary-light: #E2EAF0;
$white: #FFFFFF;

$blue: #2D4297;
$blue--light: #DDF9FF;
$blue--dark: #27768B;