@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
/**
-------------------------
Color Definitions
-------------------------
**/
/**
------------------
Text Definitions
------------------
**/
.container .subtitle {
  font-size: 40px;
  font-weight: 600;
  color: #0F1D2B;
  font-family: "Montserrat", sans-serif; }
.container .btn {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }
.container .btn-inadimplente {
  background-color: #FFFFFF;
  color: #0F1D2B;
  border: 1px solid #0F1D2B;
  border-radius: 10px; }
  .container .btn-inadimplente:hover {
    background-color: #f1f2f3; }
  .container .btn-inadimplente .MuiSvgIcon-root {
    color: #2D4297; }
.container .btn-criar {
  background-color: #2D4297;
  color: #FFFFFF;
  border: 1px solid #2D4297;
  border-radius: 10px;
  transition: .4s; }
  .container .btn-criar:hover {
    background-color: #1d2b64; }
  .container .btn-criar .MuiSvgIcon-root {
    color: #FFFFFF; }
.container .btn-action:hover {
  background-color: #e7e8e9; }
.container .table .infos-titles {
  background-color: #2D4297; }
  .container .table .infos-titles .text {
    color: #FFFFFF;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; }
  .container .table .infos-titles th {
    border: none; }
.container .table .infos-body .text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase; }

.pagination .page-item .page-link {
  color: #2D4297;
  border: 1px solid #2D4297;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 600; }
  .pagination .page-item .page-link:hover {
    background-color: #2D4297;
    transition: .4s;
    color: #FFFFFF; }

